# compiled python bytes code folder
/ActiveLedgerSDK/**/__pycache__/

# /src/activeledgersdk/*.__pycache__
/src/activeledgersdk/**/*.pyc


# **/__pycache__/

/playground/


# for testing leave for now
/sdk-contracts/
/sdk-keypairs/
/sdk-identities/
/sdk-transactions/

# Packages
*.egg
*.egg-info
/dist
/build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
