# compiled python bytes code folder for 3.x version
/ActiveLedgerSDK/**/__pycache__/
# compiled python bytes code folder for 2.x version
/src/activeledgersdk/**/*.pyc


# test module file
/tests/test.py

/playground/


# for testing leave for now
/sdk-contracts/
/sdk-keypairs/
/sdk-identities/
/sdk-transactions/

# Packages
*.egg
*.egg-info
/dist
/build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
